
<div class="game-container">
<div class="scoreboard-column">    
    <% @completed_rounds.each do |round| %>
    <div class="scoreboard-round">    
    <h4>Round <%= round.round_number %></h4>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Words</th>
                <th>Unused</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <% round.scores.sort_by {|s| s.player.name }.each do |score| %>
                <tr style="background-color: #f2f2f2; color: black;">
                    <td><%= score.player.name %> </td>
                    <td><%= score.words.join(', ') %> </td>
                    <td><%= score.cards.join(', ') %> </td>
                    <td><%= score.value %> 
                    <% if score.bonus_info.present? %> 
                        <small style="color: green; font-weight: bold;">
                            <%= score.bonus_info %> 
                        </small>
                    <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    </div>
    <% end %>


    <div class="scroeboard-round">
        <h4>Total Score</h4>
        <table>
            <tbody>
            <% @running_totals.sort_by { |player, _score| player.name }.each do |player, total| %>
                <tr>
                    <td><strong><%= player.name %></strong></td>
                    <td><strong><%= total %></strong></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

<div class="round-column">
    <% if @current_round %>
        <h2> Round <%= @current_round.round_number %> </h2>
        <p>Deal <%= @current_round.round_number + 2 %> cards </p>
        

        <%= form_with(url: round_scores_path(@current_round), local: true) do |form| %>
            <% @players.each do |player| %>
                <div class="field">
                    <%= label_tag "scores[#{player.id}][words]",  "#{player.name}'s Words" %>
                    <%= text_field_tag "scores[#{player.id}][words]"  %>                
                </div>

                <div class="field">
                    <%= label_tag "scores[#{player.id}][cards]",  "#{player.name}'s Spare Cards" %>
                    <%= text_field_tag "scores[#{player.id}][cards]"  %>                
                </div>
                <br>
            <% end %>

            <div class="actions">
                <%= form.submit "Submit Scores For Round #{@current_round.round_number}" %>            
            </div>
        <% end %>
    <% else %>
    <h2>Game Over!</h2>
        <p>This game has finished. Check the final scores on the leaderboard.</p>
        <%= link_to 'Start a New Game', new_game_path, class: "button" %>        
    <% end %>
</div>
</div>
<p>
    <%= link_to 'End Game Early', @game, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to end this game?'}, style: "color: red;" %>
</p>